body{
    background: #d2d2c1 url('img/fundo.png') fixed;
    font: 16px Arial, Helvetica, sans-serif;
}

#principal{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
    color: #4b566a
}
h3{
    color: #828271
}
#caixa-texto{
    background-color: #e8e8d9;
    padding: 8px;
}
#direitos{
    text-align: center;
}
a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
p{
    font-size: 16px;
}
.fotos{
    border: 10px solid #c3c3ae;
}
